.outer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
}

.resize-section {
    display: flex;
    flex-direction: column; 
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color:rgb(220, 220, 220);
    width: 50%;
    height: 50%;
}

.grid-row {
    display: flex;
    flex: auto;
    justify-content: flex-start;
}

.grid-cell {
    border: 1px solid rgb(100, 100, 100);
    flex: auto;
    box-sizing: border-box;
}

button {
    padding: 20px 30px;
    margin-top: 15px;
}